<section class="header-section">
  <div class="header-title">
    <h6><%= @job.title %> Position at <%= link_to @job.company.name, company_path(@job.company) %><h6>
  </div>
  <div class="header-buttons">
    <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_company_job_path(@job.company, @job) %>
    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, company_job_path(@job.company, @job), method: :delete, data: { confirm: "You are about to delete this job."} %>
  </div>
</section>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>City</th>
        <th>Level of Interest</th>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @job.description %></td>
        <td><%= @job.city %></td>
        <td><%= @job.interest %></td>
      </tr>
    <tbody>
  </table>
</div>

<main>
  <%= form_for [@job, @comment] do |f| %>
    <%= f.label :content, "Notes:" %>
    <%= f.text_area :content, required: true %>
    <%= f.submit "Save" %>
  <% end %>
</main>

<div class="table">
  <table>
    <thead>
      <tr>
        <!-- <th>Created</th> -->
        <!-- <th>Comment</th> -->
      <tr>
    </thead>
    <tbody>
    <% @job.comments.by_date.each do |comment| %>
      <tr>
        <td><%= comment.created_at %></td>
        <td><%= comment.content %></td>
        <td><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, job_comment_path(@job.id, comment.id), method: :delete %></td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div>
