<section class="header-section">
  <div class="header-title">
    <h6><%= link_to @company.name, company_path(@company) %><h6>
  </div>
  <div class="header-buttons">
    <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_company_path(@company) %>
    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, company_path(@company), method: :delete, data: { confirm: "You are about to delete this company and all of its jobs."} %>
  </div>
</section>

<div id="job-show">
  <ul>
    <li>
  <main>
    <%= form_for [@company, @contact] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :role %>
      <%= f.text_field :role %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit :Save %>
    <% end %>
  <main>
  </li>

<li>
  <div class="table">
    <table>
      <thead class="table-collection">
        <tr class="table-header">
          <th>Contact Name</th>
          <th>Role</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-collection">
        <% @contacts.each do |contact| %>
          <tr class="table-item">
            <td><%= contact.name %></td>
            <td><%= contact.role %></td>
            <td><%= mail_to contact.email %></td>
            <td>
            <div class="edit-delete">
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_company_contact_path(@company) %>
              <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, company_contact_path(@company, contact), method: :delete, data: { confirm: "You are about to delete this contact."} %>
            <div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div>
  </li>
</div>
