<h2>Job Categories</h2>

<%= link_to "Create a New Category", new_category_path  %>

<div class="table">
  <table>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to "#{category.title}" , category_path(category), class: "table-link" %></td>
        <td><%= link_to "#{category.jobs.count}", category_path(category), class: "table-link" %></td>
        <td>
          <div class="edit-delete">
            <%= button_to "Edit", edit_category_path(category), method: :get, class: "table-button" %>
            <%= button_to "Delete", category_path(category), method: :delete, class: "table-button" %>
          </div>
        </td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div>
