<section class="header-section">
  <div class="header-title">
    <h6>All Categories<h6>
  </div>
  <div class="header-links">
    <%= link_to '<i class="far fa-plus-square"></i> Add New Category'.html_safe, new_category_path  %>
  </div>
</section>

<div class="table">
  <table>
    <thead class="table-collection">
      <tr class="table-header">
        <th>Category Name</th>
        <th>Number of Jobs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to "#{category.title}" , category_path(category), class: "table-link" %></td>
        <td><%= link_to "#{category.jobs.count}", category_path(category), class: "table-link" %></td>
        <td>
          <div class="edit-delete">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_category_path(category) %>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, category_path(category), method: :delete %>
          </div>
        </td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div>
