<section class="header-section">
  <div class="header-title">
    <h6><%= @category.title  %> Jobs<h6>
  </div>
  <div class="header-links">
    <%= link_to '<i class="far fa-plus-square"></i> Add New Category'.html_safe, new_category_path  %>
  </div>
</section>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>City</th>
        <th>Interest</th>
        <th></th>
      <tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to "#{job.title}", job_path(job) %></td>
        <td><%= link_to "#{job.company.name}", company_path(job.company) %></td>
        <td><%= job.description %></td>
        <td><%= job.city %></td>
        <td><%= job.interest %></td>
        <td>
          <div class="edit-delete">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_category_path(@category) %>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, category_path(@category), method: :delete %>
          </div>
        </td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div>
