<h3>Category: <%= @category.title  %></h3>


<%= link_to "Create a New Category", new_category_path  %>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th><%= link_to "City", "/jobs?sort=city" %></th>
        <th><%= link_to "Interest", "/jobs?sort=interest" %></th>
        <th><%= %></th>
      <tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.company.name %></td>
        <td><%= job.description %></td>
        <td><%= job.city %></td>
        <td><%= job.interest %></td>
        <td>
          <div class="edit-delete">
            <%= button_to "Edit", edit_category_path(@category), method: :get, class: "table-button" %>
            <%= button_to "Delete", category_path(@category), method: :delete, class: "table-button" %>
          </div>
        </td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div>
